{% extends "ParkingAdminBundle::layout.html.twig" %}

{% block title %}
  Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer un utilisateur</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'utilisateur "{{ user.username }}" ?
  </p>

  {# On met le username dans la route de l'action du formulaire #}
  <form action="{{ path('parking_admin_delete', {'username: user.username}) }}" method="post">
    <a href="{{ path('parking_admin_view', {'username': user.username}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}